@page "/countries"

<h3>Países</h3>

@if (countries == null)
{
    <p>Cargando...</p>
}
else
{
    <table border="1">
        <tr>
            <td>País</td>
        </tr>
        @foreach(var country in countries)
        {
            <tr>
                <td>@country.Name</td>
            </tr>
        }
        
    </table>
}